footer {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 5%;
    text-align: center;
  }
  
  footer i{
    display: block;
    font-size: 3em;
    margin-bottom: 15%;
    color: black;
  }

  footer i:hover{
    font-size: 3.5em;
  }