
body {
    background-color: #E5E5E5;
  }

* {
    padding: 0;
    margin: 0;
}

.shadow{
    box-shadow:  0 6px 9px rgba(0, 0, 0, 0.9);
  }


  /***************************************************************/
  .contenido {
    padding-top: 12%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 37%;
  }

  .foto{
    float:left;
    width:450px;
    height:450px;
    border-radius: 450px;
    border:3px solid black;
  }
  
  .aboutme{
    float: right;
    width:50%;
    height:350px;
    padding: 50px;
    color: #E5E5E5;
    background:black;
    display: block;
    border-radius: 50px;
    margin-bottom: 20px;
    font-size: 25px;
    text-align: justify;
    line-height : 33px;
  }

  .project{
    float: right;
    width:90%;
    height:350px;
    padding: 50px;
    color: #E5E5E5;
    background:black;
    display: block;
    border-radius: 50px;
    margin-bottom: 20px;
    font-size: 25px;
    text-align: justify;
    line-height : 33px;
  }
  .tecs{
    float: right;
    width:90%;
    height:450px;
    padding: 50px;
    color: #E5E5E5;
    background:black;
    display: block;
    border-radius: 50px;
    margin-bottom: 20px;
    font-size: 25px;
    text-align: justify;
    line-height : 33px;
  }

  .brands {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 3rem;
    list-style: none;
  }
  div h1{
    text-align: center;
    padding-bottom: 50px;
  }
  .brands__item {
    background: #eee;
  }

  .brands__item img {
    display: block;
    /* Make sure max-width is added */
    max-width: 100;
    width: 100px;
    object-fit: contain;
  }

  /*********************/
  footer {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 5%;
    height: 20%;
    color: black;
    text-align: center;
  }
  
  footer i{
    display: block;
    font-size: 3em;
    margin-top: 15%;
    color: black;
  }

  footer a{
    text-decoration: none;
  }
  footer i:hover{
    font-size: 3.5em;
  }
  