* {
  padding: 0;
  margin: 0;
}

body {
    background-color: #E5E5E5;
  }

.shadow{
    box-shadow:  0 6px 9px rgba(0, 0, 0, 0.9);
  }


  /***************************************************************/

  .test{

    margin-top: 12%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    background: yellow;
    height: 450px;/*66vh?*/
    position: relative;
  }

  

  .foto{
    position: absolute;
    
    max-width: 37%;
    border-radius: 450px;
    border:3px solid black;
    display: inline;
  }
  
  .aboutme{
    position: absolute;
    left: 40%;
    width:50%;
   
    padding: 5%;
    color: #E5E5E5;
    background:black;
    border-radius: 50px;
    font-size: 1.9vw;
    text-align: justify;
    display: inline;
  }
  .project{
    float: right;
    width:90%;
    height:350px;
    padding: 50px;
    color: #E5E5E5;
    background:black;
    display: block;
    border-radius: 50px;
    margin-bottom: 20px;
    font-size: 25px;
    text-align: justify;
    line-height : 33px;
  }
  .tecs{
    float: right;
    width:90%;
    height:450px;
    padding: 50px;
    color: #E5E5E5;
    background:black;
    display: block;
    border-radius: 50px;
    margin-bottom: 20px;
    font-size: 25px;
    text-align: justify;
    line-height : 33px;
 
  }

  .brands {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 3rem;
    list-style: none;
  }
  div h1{
    text-align: center;
    padding-bottom: 50px;
  }
  .brands__item {
    background: #eee;
  }

  .brands__item img {
    display: block;
    /* Make sure max-width is added */
    max-width: 100;
    width: 100px;
    object-fit: contain;
  }

.contactform{
  box-sizing: border-box;
  max-width:40%;
    height:450px;
    padding: 3%;
    color: #E5E5E5;
    background:black;
    border-radius: 50px;
    margin: auto;
    text-align: center;

}

.links{
  width: 50%;
  float: left;
  padding-bottom: 3%;
}
.contactform a{
  color: #E5E5E5;
  text-decoration: none;
}

.contactform i{
  font-size: 3em;
}

.contactform label{
  color: #E5E5E5;

}

.contactform input{
  
}